<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>Composition app</title>
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>

<body>

    <%- include('header'); %>

        <div class="main">
            <a class="styled" href="/main">つくってみる</a>
        </div>

</body>

</html>