/* ナビゲーションメニュー */
.nav-menu {
    background-color: #333;
    /* メニューの背景色 */
    color: #fff;
    /* メニューテキストの色 */
}

.menu-list {
    display: flex;
    justify-content: center;
    /* メニューアイテムを中央揃えに */
}

.menu-item {
    border-left: 1px solid #fff;
    /* メニューアイテムの左ボーダー */
    position: relative;
}

.menu-item:last-child {
    border-right: 1px solid #fff;
    /* 最後のメニューアイテムの右ボーダー */
}

/* メニューアイテムのホバースタイル */
.menu-item:hover .drop-menu-list {
    opacity: 1;
    /* 不透明度を最大に */
    transition: opacity .3s, visibility .3s;
    /* アニメーション設定 */
    visibility: visible;
    /* 下層メニューを表示 */
}

.menu-item a {
    align-items: center;
    color: #fff;
    /* メニューアイテム内のリンクテキストの色 */
    display: flex;
    height: 50px;
    justify-content: center;
    text-decoration: none;
    /* リンクの下線を非表示 */
    width: 120px;
}

/* ドロップダウンメニュー */
.drop-menu {
    position: relative;
}

.drop-menu-list {
    background-color: #696969;
    /* ドロップダウンメニューの背景色 */
    left: 0;
    opacity: 0;
    /* 不透明度を最小に */
    position: absolute;
    top: 100%;
    transition: opacity .3s, visibility .3s;
    /* アニメーション設定 */
    visibility: hidden;
    /* 下層メニューを非表示 */
    width: max-content;
    z-index: 1;
}